
.film-thumbnail {
    text-align: center;
}

.film-thumbnail img {
    width: 120px;
    opacity: 0.8;
}

.film-thumbnail .title {
    opacity: 0; /*using opacity to avoid flickering effect*/
}

.film-thumbnail:hover img, .film-thumbnail .selected .title, .film-thumbnail:hover .title {
    cursor: pointer;
    opacity: 1;
}

.planet {
    padding-top:25px;
}

.planet img {
    height:50px;
}

.results-wrapper {
    padding-top:25px;
}
