<h1>Star Wars Planets Diameter Calculator</h1>

<p>
    Calculates the total diameter of the planets
    <span class="highlight">with mountains and with a water surface</span>
    for a specific film.
</p>

<div class="row">
    <div class="col film-thumbnail" *ngFor="let title of filmTitles;let index = index">
        <a (click)="selectFilm(index + 1)"
           [ngClass]="index + 1 === selectedFilmNumber? 'selected': ''">
            <img src="assets/images/films/{{ getImageName(title) }}.png"/>
            <div class="title">{{ title }}</div>
        </a>
    </div>
</div>

<div [ngStyle]="{'display': hasResults && !isLoading? 'block': 'none'}" class="results-wrapper">
    In Film #{{ (film$ | async)?.filmNumber }}
    <span class="highlight">"{{ (film$ | async)?.title }}"</span> there are
    {{ (planetsWithWaterAndMountains$ | async)?.length || 0}} (out of {{ (planets$ | async)?.length }})
    planets that have mountains and a water surface:
    <ul>
        <li *ngFor="let planet of (planetsWithWaterAndMountains$ | async)" class="planet">
            <img src="assets/images/planets/{{getImageName(planet.name)}}.png">
            {{ planet.name }},
            diameter: {{ planet.diameter }},
            water: <span class="water">{{ planet.waterPercentage }}%</span>
        </li>
    </ul>

    <h4>
        Total diameter:
        <span class="highlight">{{ totalDiameterOfPlanetsWithWaterAndMountains$ | async }}</span>
    </h4>
</div>
<div *ngIf="isLoading">Loading...</div>
