body {
    background: #111111 url("./assets/images/bg.jpg") repeat 5% 5%;;
    color: #c8c8c8;
    font-family: 'Days One', "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;

    -webkit-animation-name: STAR-MOVE;
    -webkit-animation-duration: 1000s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

ul, li {
    list-style-type: none;
}

h1 {
    padding-top: 1.2em;
    padding-bottom: 0.3em;
}

a, a:visited {
    color: #c8c8c8;
}

h1, a.selected, a:hover, .highlight {
    color: #FFE807;
}

.water {
    color: #0d4cca;
}

@-webkit-keyframes STAR-MOVE { /** thx to https://css-tricks.com/parallax-background-css3/ */
    from {
        background-position: 5% 5%
    }
    to {
        background-position: 1300% 600%
    }
}
